article.article
	section.section--0
		h1.section__heading What Identity is
		p Violet is a new identity protocol built on Ethereum to connect on-chain with verified off-chain identities and serve as an orchestration platform for authentication and authorization against other protocols and applications.
		p While we think the protocol can serve as a primitive for many use cases, we are going to launch with a direct productization that will enable institutional participation across various DeFi protocols – essentially on-chain compliance as a service. 
		p We are building Violet upon the principles of privacy, transparency and decentralization; it is our goal to enable composability of identities across the crypto stack (and beyond) and prevent fragmentation of identity data. 
		a.cta(href="#") Learn more
	section.section--1
		h1.section__heading The Manifesto
		p Violet is a new identity protocol built on Ethereum to connect on-chain with verified off-chain identities and serve as an orchestration platform for authentication and authorization against other protocols and applications.
		p While we think the protocol can serve as a primitive for many use cases, we are going to launch with a direct productization that will enable institutional participation across various DeFi protocols – essentially on-chain compliance as a service. 
		p We are building Violet upon the principles of privacy, transparency and decentralization; it is our goal to enable composability of identities across the crypto stack (and beyond) and prevent fragmentation of identity data. 
		a.cta(href="#") Read the full version
	section.section--2
		h1.section__heading Our product
		p Violet is a new identity protocol built on Ethereum to connect on-chain with verified off-chain identities and serve as an orchestration platform for authentication and authorization against other protocols and applications.
		p While we think the protocol can serve as a primitive for many use cases, we are going to launch with a direct productization that will enable institutional participation across various DeFi protocols – essentially on-chain compliance as a service. 
		p We are building Violet upon the principles of privacy, transparency and decentralization; it is our goal to enable composability of identities across the crypto stack (and beyond) and prevent fragmentation of identity data. 
		a.cta(href="#") Read the documentation
	section.section--3
		h1.section__heading Interested?
		p Violet is a new identity protocol built on Ethereum to connect on-chain with verified off-chain identities and serve as an orchestration platform for authentication and authorization against other protocols and applications. 
		a.cta(href="#") To our survey
	section.section--4
		h1.section__heading We’re hiring?
		p Violet is a new identity protocol built on Ethereum to connect on-chain.
		a.cta(href="#") Chewck it out