nav.nav--document
	ul.nav__list
		li.nav__item.anchor--0
			a(href="#section--0") Identity
		li.nav__item.anchor--1
			a(href="#section--1") Values
		li.nav__item.anchor--2
			a(href="#section--2") Protocol
		li.nav__item.anchor--3
			a(href="#section--3") Sign up
		li.nav__item.anchor--4
			a(href="#section--4") Jobs