@use "../use" as *;

@mixin cta {
	user-select: none;
	display: inline-block;
	padding-inline: $u2;
	@supports not (padding-inline: 0) {
		padding-left: $u2;
		padding-right: $u2;
	}
	position: relative;
	max-width: $line-width;
	font-size: $fs0;
	@include italic-not;
	@include normal;
	@include hyphens(none);
	margin: 0;
	text-align: inherit;
	@include transition;
	cursor: pointer;
	border: none;
	vertical-align: middle;
	font-family: $font-family-brand;
	//	@include uppercase;
	cursor: pointer;
	background-color: $cta-background-color;
	color: $cta-color;
	text-decoration: none;
	text-transform: none;
	&:visited {
		color: $cta-color;
	}
	&:hover,
	&:visited:hover {
		background-color: $cta-background-color-hover;
		color: $cta-color-hover;
	}
	&:focus,
	&:visited:focus {
		background-color: $brand--light;
		color: $brand--mute;
	}
	[class*="icon"] {
		$s: $u * 2;
		width: $s;
		height: $s;
		//	max-width: $s;
		//	max-height: $s;
		display: inline-table;
		vertical-align: middle;
		svg {
			width: 100%;
			height: 100%;
		}
	}
	&[disabled] {
		background-color: $bright;
	}
	&.is-current {
		background-color: $main--color;
	}
}

.cta {
	@include cta;
}
