@use "../use" as *;

$hook-height: $u * 3;
$hook-width: $hook-height;
.menu {
	position: fixed;
	//	@include mq(medium) {
	//		position: static;
	//	}
	@include inset(0, auto, auto, 0);
	z-index: z(modal);
	&-toggle {
		#menu-toggle:checked {
			~ .menu-toggle__object {
				pointer-events: all;
				opacity: 1;
				transition-duration: $duration;
				transition-delay: 0;
				.nav__item a {
					pointer-events: all;
				}
			}
			~ .menu-toggle__hook {
				color: $black;
				.icon {
					&--close {
						opacity: 1;
					}
					&--menu {
						opacity: 0;
					}
				}
				&:after {
					pointer-events: all;
					display: block;
					cursor: pointer;
				}
			}
		}
		&__hook {
			cursor: pointer;
			pointer-events: all;
			&:after {
				pointer-events: none;
				display: none;
				content: "";
				position: fixed;
				z-index: z(fixed) -1;
				@include inset(0, 0, 0, 0);
				background-color: $black;
			}
			.icon {
				&--close {
					opacity: 0;
				}
			}
			&-icon {
				position: fixed;
				z-index: z(fixed) + 1;
				@include inset(0, 0, auto, auto);
				//		@include mq(medium) {
				//			top: $u;
				//			left: $u;
				//		}
				width: $hook-width;
				height: $hook-height;
				padding: $u;
				display: grid;
				place-content: center;
				grid-template-areas: "stack";
				font-size: $u;
				line-height: 0;
				//	background-color: $fade--brand;
				cursor: pointer;
				svg {
					@extend %svgshadow;
					color: $white;
					width: $hook-height;
					height: $hook-height;
					@include transition(opacity, div($duration, 2), $easing);
					transition-delay: div($duration, 2);
					grid-area: stack;
				}
			}
		}
		&__object {
			transition-property: opacity;
			transition-duration: div($duration, 3);
			transition-delay: 0;
			transition-timing-function: $easing;
			position: fixed;
			z-index: z(fixed);
			@include inset(0, 0, auto, 0);
			overflow-y: auto;
			padding: $hook-height 0 0 0;
			pointer-events: none;
			opacity: 0;
		}
	}
	//	@include mq(medium) {
	//		.menu {
	//			&-toggle {
	//				&__object {
	//					opacity: 1;
	//					pointer-events: all;
	//					position: static;
	//				}
	//				&__hook {
	//					display: none;
	//				}
	//			}
	//		}
	//	}
}
