@use "../use" as *;
@use "../element/index" as *;

@mixin nav__item {
	max-width: none;
	font-family: $font-family-nav;
	a:link,
	a:visited {
		color: $link-color;
		@include normal;
	}

	a:focus,
	a:hover {
		@include bold;
	}

	a:active {
		color: $link-color-active;
	}

	&.is-current a {
		color: $white;
		@include semibold--inverse;
		pointer-events: none;
		background-color: $accent--color;
		border-radius: $radius;
	}
	a {
		padding: $u4 $u2;
	}
}

[class*="nav__list"] {
	@include list--reset;
	padding: $u2;
	// @include flex;
	// --flex-gap: #{$u2};
	// text-align: end;
	// flex-flow: column nowrap;
	// > * {
	// }
}

[class*="nav__item"] {
	@include nav__item;
	//	@include uppercase;
}

.nav {
	// &--main {
	// 	font-size: $fs3;
	// 	padding: $u;
	// 	.nav__item {
	// 		pointer-events: none;
	// 	}
	// }
	&--main {
		@extend %grid;
		grid-area: main;
		background-color: $white;
		// position: fixed;
		// z-index: z(fixed);
		// inset-block-start: calc(20vh - 2em);
		// @include mq(medium) {
		// 	inset-inline-start: (2vw * $f--12);
		// }
		// @include mq(large) {
		// 	inset-block-start: calc(50vh - 2em);
		// 	inset-inline-start: div(100vw, 12);
		// }
		// .nav__list {
		// 	flex-flow: row wrap;
		// }
	}
	&--external {
		@extend %grid;
		grid-area: external;
		background-color: $white;
		a {
			&:before {
				content: "↗";
				//				font-family: monospace;
			}
		}
	}
	&--collateral {
		@extend %grid;
		grid-area: collateral;
		background-color: $white;
		font-size: $fs-3;
	}
}

[class^="nav--"] {
	display: grid;
	align-content: end;
}
