@use "../use" as *;

// PAGE ##

.page {
	&__outer {
		position: relative;
		// display: flex;
		// gap: 0;
		// flex-direction: column;
		// > * {
		// 	flex: 0 0 auto;
		// }
	}
	&__inner {
		// position: relative;
		// max-inline-size: $site-inline-size;
		// inline-size: 100%;
		// margin: auto;
		// font-size: $fs0;

		display: grid;
		gap: 1px;
		$page-border-h: 6vw;
		$page-border-v: 6vh;
		grid-template-columns: $page-border-h 1fr 2fr 2fr 1fr $page-border-h;
		grid-template-rows: $page-border-v auto auto auto auto $page-border-v;
		grid-template-areas:
			".			. 						.							.				. 			."
			".			main 					brand					brand			cta 		."
			".			external  			heading 			heading		heading 	."
			".			external 						heading 			heading		heading 	."
			".			external						collateral						content 	content	."
			".			.					.								. 				.				.";

		min-block-size: 100vh;
	}
	&__header {
		@extend %grid;
		grid-area: heading;
		background-color: $white;
		padding: $u;
	}
	&__heading {
		text-align: start;
		max-width: 7em;
		font-size: $fs7;
		line-height: 0.85;
	}
	&-header {
		//		display: contents;
		//	mix-blend-mode: difference;
		// display: flex;
		// align-items: flex-start;
		// position: fixed;
		// top: 0;
		// z-index: z(fixed);
		// inline-size: 100%;
		// max-inline-size: $site-inline-size;
		// margin: auto;
		// padding: $u2;
		//	background-color: $brand--night;
		// a {
		// 	color: $white;
		// }
	}
	&-brand {
		@extend %grid;
		grid-area: brand;
		background-color: $white;
		display: grid;
		padding: $u;
		display: grid;
		align-content: end;
		&__logo {
			//	opacity: 0.8;

			.logogram {
				color: $brand--color;
				h1 {
					font-size: $fs6;
					@include transition;
					transition-property: font-size;
					margin: 0;
				}
			}

			// transform: rotate(-0.25turn) translateY(-18vw);
			// @include mq(medium) {
			// 	transform: rotate(0turn) translateY(0);
			// }
			// transform-origin: top right;
			// @include mq(large) {
			// 	transform: rotate(0turn) translateX(#{$f--12 * 1vw}) translateY(#{$f--12 * 2vh});
			// }
			// @include transition;
			// transition-property: opacity transform;
			// &:hover {
			// 	opacity: 1;
			// }
			// use {
			// }
			// svg {
			// 	@include transition;
			// 	transition-property: inline-size block-size;
			// 	//	@extend %svgshadow;
			// 	color: $white;
			// 	inline-size: div(100vw, 6);
			// 	block-size: $u * 6;
			// 	@include mq(medium) {
			// 		inline-size: div(100vw, 10);
			// 	}
			// 	@include mq(large) {
			// 		inline-size: $medium-width * div(1, 3);
			// 	}
			// 	object-fit: contain;
			// }
		}
	}
	&-main {
		display: contents;

		// max-inline-size: $site-inline-size;
		// margin: auto;
		//	min-height: 100vh;
	}
	&-menu {
		//	inline-size: 100%;
	}
	&-footer {
		@extend %grid;
		grid-area: footer;
		background-color: $white;
		padding: 0;
		display: flex;
		flex-direction: column;
		justify-content: end;
		// margin: auto;
		// padding: $u;
		// position: fixed;
		// inset-block-end: 0;
		// inset-inline: 0;
		// @include mq(large) {
		// 	inset-inline-start: calc(#{div(100vw, 12)} - #{$u});
		// }
		// background-color: $brand--mute;
		// @include normal--inverse;
		// font-size: $fs-3;
		// font-family: $font-family-brand;
		// @include uppercase;
		// @include transition;
		// &:hover {
		// 	background-color: $black;
		// }
	}
}
