.path {
	grid-area: path;
	position: sticky;
	top: -1px;
	z-index: z(sticky);
	@include transition();

	@include disappear;
	.is-scrolled--target & {
		opacity: 0;
		pointer-events: none;
		&:hover {
			opacity: 0;
		}
	}
	@include emphasis;
	@include blur;
	padding-block: $u2;
	@supports not (padding-block: 0) {
		padding: $u2 auto;
	}

	&__list {
		@include flex;
		--flex-gap: #{$u2};
		min-height: $u * 2;
		font-size: $fs-1;
		max-width: calc(100% - #{$hook-width});
		@include mq(medium) {
			max-width: none;
		}
	}
	&__item {
		&:first-child,
		&:nth-last-child(2) {
			display: block;
		}
		display: none;
		@include mq(medium) {
			display: block;
		}
		&--current {
			display: none;
			@include mq(medium) {
				display: block;
				@include transition;
				.is-scroll--start &,
				.is-scrolling--down & {
					//include a11y;
					opacity: 0;
					pointer-events: none;
				}
				span {
					display: inline-block;
				}
			}
		}
	}
}

[class*="path__item"] {
	@include nav__item;
	color: var(--color--emphasis);

	line-height: $line-height * 1rem;

	a {
		color: inherit;
	}
	&:first-child {
		$height: $u * 2.3;
		a {
			color: transparent;
			font-size: 0.000001px;
			display: block;
			height: $height;
			width: $height * 2;
		}
		position: relative;
		&:before {
			pointer-events: none;
			position: absolute;
			font-size: 1rem;
			@include icon;
			content: "";
			background-image: var(--symbol--white);
			background-size: contain;
			background-repeat: no-repeat;
			background-position: left center;
			--icon-size: #{$height};
			width: calc(var(--icon-size) * 2);
		}
	}
	&:not(:first-child) {
		> *:before {
			content: "➔";
			padding-right: $u2;
		}
	}
}
.is-scrolled--target #page:target .path {
	opacity: 1;
	&:hover {
		opacity: 1;
	}
}
