@use "../use" as *;
@use "../element/list" as *;

.share {
	@include flex;
	justify-content: center;
	margin: $u2 auto;
	&__heading {
		margin: 0;
		font-size: $fs-3;
	}
	&__list {
		@include list--reset;
		@include flex;
		--flex-gap: #{$u};
		margin: 0;
		padding: 0;
	}
	&__item {
	}
}
