@use "../use" as *;
@use "element" as *;

// FORM ########

@mixin form {
	padding: 0 $u;
	max-width: $line-width;
	// fieldset {
	// 	background-color: $brand--mute;
	// 	margin: $u2 0;
	// 	padding: $u 0;
	// 	a {
	// 		//			text-decoration: underline;
	// 	}
	// }
	// legend {
	// 	@extend h5;
	// 	background-color: $brand--mute;
	// 	padding: $u $u * 1;
	// 	margin-inline: $u * -1 auto;
	// 	@supports not (margin-inline: 0) {
	// 		margin-left: auto;
	// 		margin-right: $u * -1;
	// 	}
	// }
	label {
		margin: $u2 0;
		font-size: $fs-3;
		font-family: $font-family-brand;
		@include uppercase;
		@include bold--inverse;
		//		span {
		//			font-size: $fs-3;
		//			font-family: $font-family-brand;
		//			@include uppercase;
		//			@include bold--inverse;
		//		}
	}

	&__sort {
		margin-inline-end: auto;
	}
	input,
	textarea,
	button,
	[type="checkbox"] ~ span,
	[type="radio"] ~ span {
		text-transform: none;
	}
	input {
		~ span {
			padding-left: $u;
		}
		&:placeholder-shown {
			background-color: $brand--light;
		}
		&:invalid,
		.error,
		.error & {
			color: $negative-color;
			~ span {
				color: $negative-color;
			}
		}
		&:disabled {
			color: $muted-color;
			~ span {
				color: $muted-color;
			}
		}
		&:required {
			~ span {
				&:after {
					content: "✷";
					position: relative;
					top: -0.4em;
				}
			}
		}
	}
}

form {
	@include form;
}

.wpcf7 {
	@include form;
}
