@use "../use" as *;

// theme specific

@media print {
	//use cm not mm and a lot of for safari
	.page__header {
		display: none !important;
	}
	.page__outer,
	.page__inner {
		padding: 0;
		margin: 0;
	}
	html,
	body,
	body a {
		font-size: 9pt !important;
		line-height: 12pt !important;
	}
	hr {
		display: block;
		width: 100%;
		margin: 0.5cm auto;
		border-bottom: 1px solid black;
	}
	cite,
	small,
	.small {
		font-size: 6pt !important;
	}
	h1 {
		font-size: 14pt;
	}
	h2 {
		font-size: 12pt;
	}
	h3 {
		font-size: 10pt;
	}
	h4,
	h5,
	h6 {
		font-size: 9pt;
		font-weight: bold;
	}
	blockquote,
	.blockquote {
		border-top: none;
		border-right: none;
		border-left: 0.05cm solid black;
		border-bottom: none;
		box-shadow: none !important;
		margin-left: 0.4cm !important;
		padding: 0 0 0 0.4cm !important;
		page-break-inside: avoid;
	}
	body a,
	body a:link {
		font-size: inherit !important;
		line-height: inherit !important;
	}
}
