@use "../base/index" as *;

// @FONTFACE  ###########

:root {
  --webkit-font-smoothing: subpixel-antialiased;
  --moz-osx-font-smoothing: auto;
}

// RESPONSIVE FONT SIZE

:root {
  --root-font-size: 130%;
  @include mq(medium) {
    --root-font-size: 140%;
  }
  @include mq(large) {
    --root-font-size: 150%;
  }
  @include mq(huge) {
    --root-font-size: 150%;
  }
  @include mq(giant) {
    --root-font-size: 150%;
  }
}

// ASSIGN FONT ###########

$font-cursive: "Lucida Handwriting";
$font-serif: "";
//$font-sans: "Atkinson Hyperlegible";
$font-sans: "Noi Variable Flex Trial";
$font-monospace: "Monaco";
$font-pattern: "";

$font-family-monospace: $font-monospace, monospace;
$font-family-serif: $font-serif, serif;
$font-family-sans: $font-sans, sans-serif;
$font-family-cursive: $font-cursive cursive;

$font-family-body: $font-family-sans;
$font-family-heading: $font-family-sans;

$font-family-nav: $font-family-heading;
$font-family-input: $font-family-body;
$font-family-brand: $font-family-heading;
$font-family-pattern: $font-pattern;

// VARIABLE FONT VALUES

$min-weight: 200;
$max-weight: 900;

$inverse-correction: -50;

$thin-weight: $min-weight;
$ultralight-weight: 250;
$light-weight: 300;
$normal-weight: 400;
$semibold-weight: 500;
$bold-weight: 600;
$ultra-weight: 700;

$thin-weight--inverse: $thin-weight + $inverse-correction;
$ultralight-weight--inverse: $thin-weight + $inverse-correction;
$light-weight--inverse: $thin-weight + $inverse-correction;
$normal-weight--inverse: $normal-weight + $inverse-correction;
$semibold-weight--inverse: $bold-weight + $inverse-correction;
$bold-weight--inverse: $bold-weight + $inverse-correction;
$ultra-weight--inverse: $ultra-weight + $inverse-correction;

@mixin thin {
  --weight: #{$thin-weight};
}
@mixin thin--inverse {
  --weight: #{$thin-weight--inverse};
}
@mixin ultralight {
  --weight: #{$ultralight-weight};
}
@mixin ultralight--inverse {
  --weight: #{$ultralight-weight--inverse};
}
@mixin light {
  --weight: #{$light-weight};
}
@mixin light--inverse {
  --weight: #{$light-weight--inverse};
}
@mixin normal {
  font-style: normal;
  --weight: #{$normal-weight};
}
@mixin normal--inverse {
  --weight: #{$normal-weight--inverse};
  @include font-smoothing(legacy);
}
@mixin semibold {
  --weight: #{$semibold-weight};
}
@mixin semibold--inverse {
  --weight: #{$semibold-weight--inverse};
}
@mixin bold {
  --weight: #{$bold-weight};
}
@mixin bold--inverse {
  --weight: #{$bold-weight--inverse};
}
@mixin ultra {
  --weight: #{$ultra-weight};
}
@mixin ultra--inverse {
  --weight: #{$ultra-weight--inverse};
}
@mixin italic {
  font-style: italic;
}
@mixin italic-not {
  font-style: normal;
}
@mixin spaced {
  letter-spacing: 0.05ch;
}
@mixin uppercase {
  text-transform: uppercase;
}
@mixin emphasis {
  background-color: $brand--dark;
  @include mq(medium) {
    background-color: $brand--color;
  }
  color: var(--color--emphasis);
  @include font-smoothing(legacy);
}
@mixin a11y {
  @include hidden;
}
@mixin horizontal-rule {
  background-color: $black;
  display: block;
  clear: both;
  height: $stroke;
  padding: 0;
  margin: $u * 4 $u * -2;
}

:root {
  //check https://wakamaifondue.com/
  --weight: #{$normal-weight};
  --aalt: "aalt" off;
  --c2sc: "c2sc" off;
  --case: "case" off;
  --cpsp: "cpsp" off;
  --cswh: "cswh" off;
  --dlig: "dlig" off;
  --dnom: "dnom" off;
  --frac: "frac" off;
  --hist: "hist" off;
  --lnum: "lnum" on;
  --kern: "kern" on;
  --liga: "liga" on;
  --nalt: "nalt" off;
  --numr: "numr" off;
  --onum: "onum" off;
  --ordn: "ordn" off;
  --pnum: "pnum" off;
  --salt: "salt" off;
  --sinf: "sinf" off;
  --smcp: "smcp" off;
  --ss01: "ss01" on;
  --ss02: "ss02" off;
  --ss03: "ss03" off;
  --ss04: "ss04" off;
  --ss05: "ss05" off;
  --ss06: "ss06" off;
  --subs: "subs" off;
  --sups: "sups" off;
  --swsh: "swsh" off;
  --titl: "titl" off;
  --tnum: "tnum" on;
  --zero: "zero" off;
}
* {
  font-weight: var(--weight);
  font-variation-settings: "wght" var(--weight);
  font-feature-settings: var(--aalt), var(--c2sc), var(--case), var(--cpsp), var(--cswh), var(--dlig), var(--dnom),
    var(--frac), var(--hist), var(--lnum), var(--kern), var(--liga), var(--nalt), var(--numr), var(--onum), var(--ordn),
    var(--pnum), var(--salt), var(--sinf), var(--smcp), var(--ss01), var(--ss02), var(--ss03), var(--ss04), var(--ss05),
    var(--ss06), var(--subs), var(--sups), var(--swsh), var(--titl), var(--tnum), var(--zero);
}

h1,
h2,
h3 {
  --ss04: "ss04" on;
  --ss05: "ss05" on;
}

// FONT SIZE ###########

$fs-min: -5;
$fs-max: 6;

$font-size: (
  "-5": min(2vw, px2rem(6)),
  "-4": min(2vw, px2rem(8)),
  "-3": min(3vw, px2rem(10)),
  "-2": min(3vw, px2rem(12)),
  "-1": min(4vw, px2rem(14)),
  "0": min(4vw, px2rem(16)),
  "1": min(5vw, px2rem(16)),
  "2": min(5vw, px2rem(18)),
  "3": min(5vw, px2rem(20)),
  "4": min(6vw, px2rem(24)),
  "5": min(6vw, px2rem(28)),
  "6": min(6vw, px2rem(36)),
);

$fs-5: map-get($font-size, "-5");
$fs-4: map-get($font-size, "-4");
$fs-3: map-get($font-size, "-3");
$fs-2: map-get($font-size, "-2");
$fs-1: map-get($font-size, "-1");
$fs0: map-get($font-size, "0");
$fs1: map-get($font-size, "1");
$fs2: map-get($font-size, "2");
$fs3: map-get($font-size, "3");
$fs4: map-get($font-size, "4");
$fs5: map-get($font-size, "5");
$fs6: map-get($font-size, "6");

//@for $n from -3 through 6 {
//	.fs#{$n} {
//		font-size: map.get($font-size, fs0);
//			@if $n >= 1 {
//				font-size: map.get($font-size, fs1);
//			}
//		@include mq(medium) {
//			@if $n >= 2 {
//				font-size: map.get($font-size, fs2);
//			}
//		}
//		@include mq(large) {
//			@if $n >= 4 {
//				font-size: map.get($font-size, fs4);
//			}
//		}
//		@include mq(huge) {
//			font-size: map.get($font-size, fs#{$n});
//		}
//	}
//}

@font-face {
  font-family: "Roslindale";
  src: url("../font/roslindale/roslindale-variable.woff2") format("woff2");
  src: url("../font/roslindale/roslindale-variable.woff") format("woff");
  font-display: swap;
  font-weight: 200 900;
  font-stretch: 75 100;
}

/* atkinson-hyperlegible-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Atkinson Hyperlegible";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../font/atkinson-hyperlegible/atkinson-hyperlegible-v1-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../font/atkinson-hyperlegible/atkinson-hyperlegible-v1-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* atkinson-hyperlegible-italic - latin */
@font-face {
  font-display: swap;
  font-family: "Atkinson Hyperlegible";
  font-style: italic;
  font-weight: 400;
  src: local(""), url("../font/atkinson-hyperlegible/atkinson-hyperlegible-v1-latin-italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../font/atkinson-hyperlegible/atkinson-hyperlegible-v1-latin-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* atkinson-hyperlegible-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Atkinson Hyperlegible";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../font/atkinson-hyperlegible/atkinson-hyperlegible-v1-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../font/atkinson-hyperlegible/atkinson-hyperlegible-v1-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* atkinson-hyperlegible-700italic - latin */
@font-face {
  font-display: swap;
  font-family: "Atkinson Hyperlegible";
  font-style: italic;
  font-weight: 700;
  src: local(""), url("../font/atkinson-hyperlegible/atkinson-hyperlegible-v1-latin-700italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../font/atkinson-hyperlegible/atkinson-hyperlegible-v1-latin-700italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* tinkuy-patterns-d */
@font-face {
  font-display: block;
  font-family: "Tinkuy Patterns D";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../font/tinkuy-patterns/tinkuy-patterns-d.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../font/tinkuy-patterns/tinkuy-patterns-d.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: "Readexpro";
  src: url("../font/readexpro/Readexpro[HEXP,wght].woff2") format("woff2");
  src: url("../font/readexpro/Readexpro[HEXP,wght].woff") format("woff");
  font-display: swap;
  font-weight: 160 700;
}
