include mixin/__mixin
doctype html
html(lang='en' class='no-js')
	include include/_head.pug
	body
		include svg/svg.html
		.page__outer
			figure.background
				video(src="image/background/0.mp4" autoplay loop muted)
			.page__inner
				b.spacer
				b.spacer
				b.spacer
				b.spacer
				b.spacer
				b.spacer
				b.spacer
				b.spacer
				include include/_page-header.pug 
				main.page-main 
					h2(data-splitting).page__heading Evolving trust
					section.section__content
						p Violet is a new identity protocol built on Ethereum to connect on-chain with verified off-chain identities and serve as an orchestration platform for authentication and authorization against other protocols and applications.
						a.cta(href="#") Learn more
				include include/_page-footer.pug  

