// MEDIAQUERY BREAKPOINT DEFINITION ###########
$medium_width: 600px;
$medium_height: 299px;

$large_width: 1200px;
$large_height: 0px;

$huge_width: 1500px;
$huge_height: 0px;

$giant_width: 1921px;
$giant_height: 0px;
