mixin filter(context)
	.filter(class!=context+'__filter')
		form.form
			fieldset
				//legend Legend
				.filter__inner
					label.filter__sort
						span Sortierung
						select
							option(value='option0_0' selected) Neuste
							option(value='option0_1') Beliebteste
							option(value='option0_4') Älteste
					label.filter__type
						span Level
						select(multiple='true')
							option(value='option0_0' selected) Alle Level
							option(value='option0_1') Schwer
							option(value='option0_1') Leicht
					label.filter__topic
						span Themen
						select(multiple='true')
							option(value='option0_0' selected) Alle Themen
							option(value='option0_1') Foo
							option(value='option0_1') Bar
					label.filter__region
						span Regionen
						select(multiple='true')
							option(value='option0_0' selected) Alle Regionen
							option(value='option0_1') Europa
							option(value='option0_1') Amerika
					label.filter__topic
						span Epochen
						select(multiple='true')
							option(value='option0_0' selected) Alle Epochen
							optgroup(label="21. Jahrhundert")
								option(value='option0_1') 21. Jahrhundert
								optgroup(label="2020er")
									option(value='option0_1') 2020er Jahre
									option(value='option0_1') 2022
									option(value='option0_1') 2021
									option(value='option0_1') 2020
								optgroup(label="2010er")
									option(value='option0_1') 2010er Jahre
									option(value='option0_1') 2019
									option(value='option0_1') 2018
									option(value='option0_1') 2017
									option(value='option0_1') 2016
									option(value='option0_1') 2015
									option(value='option0_1') 2014
									option(value='option0_1') 2013
									option(value='option0_1') 2012
									option(value='option0_1') 2011
									option(value='option0_1') 2010
										optgroup(label="20. Jahrhundert")
											option(value='option0_1') 20. Jahrhundert
											optgroup(label="1990er")
												option(value='option0_1') 1990er Jahre
												option(value='option0_1') 1999
												option(value='option0_1') 1998
												option(value='option0_1') 1997
												option(value='option0_1') 1996
												option(value='option0_1') 1995
												option(value='option0_1') 1994
												option(value='option0_1') 1993
												option(value='option0_1') 1992
												option(value='option0_1') 1991
												option(value='option0_1') 1990
											optgroup(label="1980er")
												option(value='option0_1') 1980er Jahre
												option(value='option0_1') 1989
												option(value='option0_1') 1988
												option(value='option0_1') 1987
												option(value='option0_1') 1986
												option(value='option0_1') 1985
												option(value='option0_1') 1984
												option(value='option0_1') 1983
												option(value='option0_1') 1982
												option(value='option0_1') 1981
												option(value='option0_1') 1980
											optgroup(label="1970er")
												option(value='option0_1') 1970er Jahre
												option(value='option0_1') 1979
												option(value='option0_1') 1978
												option(value='option0_1') 1977
												option(value='option0_1') 1976
												option(value='option0_1') 1975
												option(value='option0_1') 1974
												option(value='option0_1') 1973
												option(value='option0_1') 1972
												option(value='option0_1') 1971
												option(value='option0_1') 1970
											optgroup(label="1960er")
												option(value='option0_1') 1960er Jahre
												option(value='option0_1') 1969
												option(value='option0_1') 1968
												option(value='option0_1') 1967
												option(value='option0_1') 1966
												option(value='option0_1') 1965
												option(value='option0_1') 1964
												option(value='option0_1') 1963
												option(value='option0_1') 1962
												option(value='option0_1') 1961
												option(value='option0_1') 1960
											optgroup(label="1950er")
												option(value='option0_1') 1950er Jahre
												option(value='option0_1') 1959
												option(value='option0_1') 1958
												option(value='option0_1') 1957
												option(value='option0_1') 1956
												option(value='option0_1') 1955
												option(value='option0_1') 1954
												option(value='option0_1') 1953
												option(value='option0_1') 1952
												option(value='option0_1') 1951
												option(value='option0_1') 1950
											optgroup(label="1940er")
												option(value='option0_1') 1940er Jahre
												option(value='option0_1') 1949
												option(value='option0_1') 1948
												option(value='option0_1') 1947
												option(value='option0_1') 1946
												option(value='option0_1') 1945
												option(value='option0_1') 1944
												option(value='option0_1') 1943
												option(value='option0_1') 1942
												option(value='option0_1') 1941
												option(value='option0_1') 1940
											optgroup(label="1930er")
												option(value='option0_1') 1930er Jahre
												option(value='option0_1') 1939
												option(value='option0_1') 1938
												option(value='option0_1') 1937
												option(value='option0_1') 1936
												option(value='option0_1') 1935
												option(value='option0_1') 1934
												option(value='option0_1') 1933
												option(value='option0_1') 1932
												option(value='option0_1') 1931
												option(value='option0_1') 1930
											optgroup(label="1920er")
												option(value='option0_1') 1920er Jahre
												option(value='option0_1') 1929
												option(value='option0_1') 1928
												option(value='option0_1') 1927
												option(value='option0_1') 1926
												option(value='option0_1') 1925
												option(value='option0_1') 1924
												option(value='option0_1') 1923
												option(value='option0_1') 1922
												option(value='option0_1') 1921
												option(value='option0_1') 1920
											optgroup(label="1910er")
												option(value='option0_1') 1910er Jahre
												option(value='option0_1') 1919
												option(value='option0_1') 1918
												option(value='option0_1') 1917
												option(value='option0_1') 1916
												option(value='option0_1') 1915
												option(value='option0_1') 1914
												option(value='option0_1') 1913
												option(value='option0_1') 1912
												option(value='option0_1') 1911
												option(value='option0_1') 1910
											optgroup(label="1900er")
												option(value='option0_1') 1900er Jahre
												option(value='option0_1') 1909
												option(value='option0_1') 1908
												option(value='option0_1') 1907
												option(value='option0_1') 1906
												option(value='option0_1') 1905
												option(value='option0_1') 1904
												option(value='option0_1') 1903
												option(value='option0_1') 1902
												option(value='option0_1') 1901
												option(value='option0_1') 1900
					label.filter__search
						span Suche
						input(type='search' placeholder='Volltext')
			fieldset.filter__proceed
				button(type='reset') Alle zeigen
				ol.filter__applied
					li
						a(href="#" title="entfernen") foo
					li
						a(href="#" title="entfernen") 1903 
					li
						a(href="#" title="entfernen") Amerika
				button(type='submit') Eingrenzen

