mixin svg(svg_id, svg_url)
	- svg_url = svg_url || ''
	if svg_id
		svg()&attributes(attributes)
			use(xlink:href= svg_url + '#' + svg_id)
	else
		svg()&attributes(attributes)
			use(xlink:href= svg_url)
