@use "../base/index" as *;

// @FONTFACE  ###########

:root {
  //legacy
  --webkit-font-smoothing: antialiased;
  --moz-osx-font-smoothing: grayscale;
  //modern
  //   --webkit-font-smoothing: subpixel-antialiased;
  //   --moz-osx-font-smoothing: auto;
}

// RESPONSIVE FONT SIZE

:root {
  --root-font-size: 130%;
  @include mq(medium) {
    --root-font-size: 140%;
  }
  @include mq(large) {
    --root-font-size: 150%;
  }
  @include mq(huge) {
    --root-font-size: 150%;
  }
  @include mq(giant) {
    --root-font-size: 150%;
  }
}

// ASSIGN FONT ###########

$font-cursive: "";
$font-serif: "";
$font-sans: "Noi Variable Flex";
$font-sans-fix: "Noi Variable Fix";
$font-monospace: "Courier";
$font-pattern: "";

$font-family-monospace: $font-monospace, monospace;
$font-family-serif: $font-serif, serif;
$font-family-sans: $font-sans, sans-serif;
$font-family-cursive: $font-cursive cursive;

$font-family-body: $font-family-sans;
$font-family-heading: $font-sans-fix, $font-family-sans;

$font-family-nav: $font-family-heading;
$font-family-input: $font-family-body;
$font-family-brand: $font-family-heading;
$font-family-pattern: $font-pattern;

// VARIABLE FONT VALUES

$inverse-correction: 50;
$min-weight: 100 + $inverse-correction;
$max-weight: 900;
$delta-weight: $max-weight - $min-weight;
$count-weight: 7;
$step-weight: div($delta-weight, $count-weight - 1);

$max-italic: 10;

$thin-weight: $min-weight;
$light-weight: $min-weight + $step-weight * 1;
$regular-weight: $min-weight + $step-weight * 2;
$semibold-weight: $min-weight + $step-weight * 3;
$bold-weight: $min-weight + $step-weight * 4;
$black-weight: $min-weight + $step-weight * 5;
$ultra-weight: $max-weight;

$thin-weight--inverse: $thin-weight - $inverse-correction;
$light-weight--inverse: $thin-weight - $inverse-correction;
$regular-weight--inverse: $regular-weight - $inverse-correction;
$semibold-weight--inverse: $bold-weight - $inverse-correction;
$bold-weight--inverse: $bold-weight - $inverse-correction;
$black-weight--inverse: $black-weight - $inverse-correction;
$ultra-weight--inverse: $ultra-weight - $inverse-correction;

@mixin thin {
  --weight: #{$thin-weight};
}
@mixin thin--inverse {
  --weight: #{$thin-weight--inverse};
}
@mixin light {
  --weight: #{$light-weight};
}
@mixin light--inverse {
  --weight: #{$light-weight--inverse};
}
@mixin regular {
  --weight: #{$regular-weight};
}
@mixin regular--inverse {
  --weight: #{$regular-weight--inverse};
}
@mixin normal {
  --weight: #{$regular-weight};
}
@mixin normal--inverse {
  --weight: #{$regular-weight--inverse};
}
@mixin semibold {
  --weight: #{$semibold-weight};
}
@mixin semibold--inverse {
  --weight: #{$semibold-weight--inverse};
}
@mixin bold {
  --weight: #{$bold-weight};
}
@mixin bold--inverse {
  --weight: #{$bold-weight--inverse};
}
@mixin black {
  --weight: #{$black-weight};
}
@mixin black--inverse {
  --weight: #{$black-weight--inverse};
}
@mixin ultra {
  --weight: #{$ultra-weight};
}
@mixin ultra--inverse {
  --weight: #{$ultra-weight--inverse};
}
@mixin italic {
  --italic: #{$max-italic};
}
@mixin italic-not {
  --italic: 0;
}
@mixin spaced {
  letter-spacing: 0.05ch;
}
@mixin uppercase {
  text-transform: uppercase;
}
@mixin emphasis {
  background-color: $brand--dark;
  @include mq(medium) {
    background-color: $brand--color;
  }
  color: var(--color--emphasis);
  @include font-smoothing(legacy);
}
@mixin a11y {
  @include hidden;
}
@mixin horizontal-rule {
  background-color: $black;
  display: block;
  clear: both;
  height: $stroke;
  padding: 0;
  margin: $u * 4 $u * -2;
}

:root {
  //check https://wakamaifondue.com/
  --weight: #{$regular-weight};
  --italic: 0;
  --aalt: "aalt" off;
  // --c2sc: "c2sc" off;
  --calt: "calt" on;
  // --case: "case" on;
  // --cpsp: "cpsp" off;
  // --cswh: "cswh" on;
  // --dlig: "dlig" on;
  // --dnom: "dnom" off;
  // --frac: "frac" on;
  // --hist: "hist" off;
  // --hlig: "hlig" off;
  // --lnum: "lnum" on;
  --kern: "kern" on;
  // --liga: "liga" on;
  // --locl: "locl" on;
  // --nalt: "nalt" off;
  // --numr: "numr" off;
  // --onum: "onum" off;
  // --ordn: "ordn" off;
  // --pnum: "pnum" off;
  --salt: "salt" off;
  // --sinf: "sinf" off;
  // --smcp: "smcp" off;
  --ss01: "ss01" off;
  --ss02: "ss02" off;
  --ss03: "ss03" off;
  --ss04: "ss04" off;
  --ss05: "ss05" off;
  --ss06: "ss06" off;
  --ss07: "ss07" off;
  --ss08: "ss08" off;
  --ss09: "ss09" off;
  --ss10: "ss10" off;
  // --ss11: "ss11" off;
  // --ss12: "ss12" off;
  // --ss13: "ss13" off;
  // --ss14: "ss14" off;
  // --ss15: "ss15" off;
  // --ss16: "ss16" off;
  // --ss17: "ss17" off;
  // --ss18: "ss18" off;
  // --ss19: "ss19" off;
  // --ss20: "ss20" off;
  // --subs: "subs" off;
  // --sups: "sups" off;
  // --swsh: "swsh" on;
  // --titl: "titl" off;
  // --tnum: "tnum" off;
  // --zero: "zero" on;
}
:root {
  // arabic
  // --rlig: "rlig" on;
  // --medi: "medi" on;
  // --init: "init" on;
  // --isol: "isol" on;
  // --fina: "fina" on;
  // --mark: "mark" on;
  // --mkmk: "mkmk" on;
}

* {
  --ss03: "ss03" on;
  --ss06: "ss06" on;
  --ss08: "ss08" on;

  //  --ss02: "ss02" on;
  //  --ss04: "ss04" on;
  //  --ss05: "ss05" on;
  //  --ss09: "ss09" on;
  // --ss10: "ss10" on;
  //  --ss11: "ss11" on;

  font-weight: var(--weight);
  font-variation-settings: "wght" var(--weight), "ital" var(--italic);
  //font-feature-settings: var(--aalt), var(--calt), var(--case), var(--cpsp), var(--cswh), var(--dlig),
  // var(--dnom), var(--frac), var(--hist), var(--hlig), var(--lnum), var(--kern), var(--liga), var(--locl), var(--nalt),
  // var(--numr), var(--onum), var(--ordn), var(--pnum), var(--salt), var(--sinf), var(--smcp), var(--ss01), var(--ss02),
  // var(--ss03), var(--ss04), var(--ss05), var(--ss06), var(--ss07), var(--ss08), var(--ss09), var(--ss10), var(--subs),
  // var(--sups), var(--swsh), var(--titl), var(--tnum), var(--zero), var(--rlig), var(--medi), var(--init), var(--isol),
  // var(--fina) var(--mark), var(--mkmk);
  font-feature-settings: var(--aalt), var(--calt), var(--kern), var(--salt), var(--ss01), var(--ss02), var(--ss03),
    var(--ss04), var(--ss05), var(--ss06), var(--ss07), var(--ss08), var(--ss09), var(--ss10);
}

h1,
h2,
h3 {
  --ss02: "ss02" on;
  --ss04: "ss04" on;
  --ss05: "ss05" on;
  --ss09: "ss09" on;
  //--ss10: "ss10" on;
  --ss11: "ss11" on;
}

// FONT SIZE ###########

$fs-min: -5;
$fs-max: 6;

$font-size: (
  "-5": min(2vw, px2rem(6)),
  "-4": min(2vw, px2rem(8)),
  "-3": min(3vw, px2rem(10)),
  "-2": min(3vw, px2rem(12)),
  "-1": min(4vw, px2rem(14)),
  "0": min(4vw, px2rem(16)),
  "1": min(5vw, px2rem(16)),
  "2": min(5vw, px2rem(18)),
  "3": min(5vw, px2rem(20)),
  "4": min(6vw, px2rem(24)),
  "5": min(6vw, px2rem(28)),
  "6": min(6vw, px2rem(36)),
  "7": min(9vw, px2rem(120)),
);

$fs-5: map-get($font-size, "-5");
$fs-4: map-get($font-size, "-4");
$fs-3: map-get($font-size, "-3");
$fs-2: map-get($font-size, "-2");
$fs-1: map-get($font-size, "-1");
$fs0: map-get($font-size, "0");
$fs1: map-get($font-size, "1");
$fs2: map-get($font-size, "2");
$fs3: map-get($font-size, "3");
$fs4: map-get($font-size, "4");
$fs5: map-get($font-size, "5");
$fs6: map-get($font-size, "6");
$fs7: map-get($font-size, "7");

//@for $n from -3 through 6 {
//	.fs#{$n} {
//		font-size: map.get($font-size, fs0);
//			@if $n >= 1 {
//				font-size: map.get($font-size, fs1);
//			}
//		@include mq(medium) {
//			@if $n >= 2 {
//				font-size: map.get($font-size, fs2);
//			}
//		}
//		@include mq(large) {
//			@if $n >= 4 {
//				font-size: map.get($font-size, fs4);
//			}
//		}
//		@include mq(huge) {
//			font-size: map.get($font-size, fs#{$n});
//		}
//	}
//}

@font-face {
  font-family: "Noi Variable Fix";
  src: url("../font/sans/NoiVariableFixTrialGX.woff2") format("woff2");
  src: url("../font/sans/NoiVariableFixTrialGX.woff") format("woff");
  font-display: swap;
  font-weight: 100 900;
  font-style: 0 10;
}

@font-face {
  font-family: "Noi Variable Flex";
  src: url("../font/sans/NoiVariableFlexTrialGX.woff2") format("woff2");
  src: url("../font/sans/NoiVariableFlexTrialGX.woff") format("woff");
  font-display: swap;
  font-weight: 100 900;
  font-style: 0 10;
}
