@use "../base/index" as *;
@use "constant" as *;

// ICON ###

@mixin icon {
	display: inline-block;
	vertical-align: baseline;
	--icon-size: #{$u * 2};
	height: var(--icon-size);
	width: var(--icon-size);
	color: var(--icon-color);
}

.icon,
[class*="icon--"] {
	@include icon;
	svg {
		height: 100%;
		width: 100%;
	}
}

:root {
	--icon-color: #{$grey};
}
