nav.nav--external
	ul.nav__list
		li.nav__item
			a(href="https://www.notion.so/violetprotocol/Open-Roles-Violet-befb51830f26439ca81729ce39942709 ") Join us
		li.nav__item
			a(href="https://twitter.com/violetprotocol ") Get involved
