nav.nav--collateral
	ol.nav__list
		li.nav__item
			a(href="#") Documentation
		li.nav__item
			a(href="#") Discord
		li.nav__item
			a(href="contact.html") Contact
		li.nav__item
			a(href="legal.html") Legal
		li.nav__item
			a(href="legal.html#privacy") Privacy