nav.nav--document
	ul.nav__list
		li.nav__item.anchor--0
			a(href="#identity") Identity
		li.nav__item.anchor--1
			a(href="#values") Values
		li.nav__item.anchor--2
			a(href="#protocol") Protocol
		li.nav__item.anchor--3
			a(href="#sign-up") Sign up
		li.nav__item.anchor--4
			a(href="#jobs") Jobs