.page-search
	.search__form
		label
			span.a11y Suche:
			input.search__field(type="search" placeholder="Enter coin number")
			button.search__submit(type="submit")
				i.icon--search
					+svg("search")