script.
	function randomstring(length) {
		var result           = '';
		var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
		var charactersLength = characters.length;
		var char = characters.charAt(Math.floor(Math.random() *	charactersLength));
		for ( var i = 0; i < length; i++ ) {
		//	result += characters.charAt(Math.floor(Math.random() *	charactersLength));}
			result += char;}
		return result;
	}


	var hasPattern = document.getElementsByClassName("has-pattern");
	for (var i = 0; i < hasPattern.length; i++) {
		hasPattern.item(i).insertAdjacentHTML( 'beforeend', '<b class="pattern" aria-hidden="true">' + randomstring(2) + '<br>' + randomstring(2)  + '</b>');
	}
