@use "../use" as *;
@use "text" as *;

.entry {
	@include normal--inverse;
	> h2,
	> h3,
	> h4,
	> h5,
	> h6 {
		margin-inline: $u;
	}
	&__all {
		margin: auto;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		z-index: z(fixed) + 1;
		font-size: $fs-2;
	}
	&__header {
		text-align: center;
		~ p {
			margin-block-start: $u;
		}
	}
	&__heading {
		position: relative;
		@extend %has-gradient;
	}
	&__figure {
		@include mq(medium) {
			@extend .float--right;
			@extend .phi-minor;
		}
	}
	.text {
		@include mq(large) {
			@include text-column;
			column-count: 3;
		}
	}
}
