@use "../use" as *;
.section {
	scroll-snap-align: start;
	mix-blend-mode: difference;
	//background-color: $pitch;
	margin: (5vh * $f--12) 0 (2vh * $f--12);
	padding: $u (1vw * $f--12);
	@include mq(medium) {
		padding-inline: (2vw * $f--12);
	}
	@include mq(large) {
		max-block-size: 50vh;
		margin-block-start: 50vh;
		min-inline-size: 100vw;
		padding-inline: (1vw * $f--12);
		overflow: auto;
	}
	&:first-of-type {
		margin-block-start: 100vh;
		@include mq(large) {
			margin-block-start: 50vh;
		}
	}
}

[class^="section--"] {
	@extend .section;
}
